%tr{id: "player_tr_#{player.id}", data: { id: player.id }}
  %td{align: :right}
    %a.tip{data: { title: player.last_chat }}= image_tag player_images_path(id: player.nick, size: 16, format: 'png'), width: 16, height: 16, alt: player.nick
  %td= link_to player.nick, admin_player_path(player)
  %td= player.last_nick
  %td= player.spam_ratio
  %td= link_to player.links_count, admin_player_links_path(player_id: player)
  %td= link_to player.messages_count, admin_player_messages_path(player_id: player, filter_modes: false)
  %td= player.pvp_wins_count
  %td= player.pvp_losses_count
  %td= last_login(player.last_login_at)
  %td= player.biomes_explored
  %td
    - if player.last_ip_cc
      =link_to admin_players_path(cc: player.last_ip_cc) do
        = image_tag "flag/16/#{player.last_ip_cc.downcase}.png" if flag_exists(player.last_ip_cc)
        = player.last_ip_cc
  %td= relative_time(player.created_at)
  %td
    %span{style: 'float: right'}
      = link_to 'Show', admin_player_path(player), class: 'btn btn-info btn-sm', data: { remote: true, toggle: :modal, target: '#show_player'}
      .modal.fade{id: :show_player, tabindex: -1, role: :dialog, 'aria-labelledby' => 'show_player_label', 'aria-hidden' => true}
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
                %span{'aria-hidden' => true} &times;
              %h4.modal-title#show_player_label Loading ...
            .modal-body{id: 'show_player_body'}
              %center
                %img{src: '/images/large_spinner.gif'}
      = link_remote_delete(admin_player_path(player), class: 'btn btn-danger btn-sm', confirm: 'Are you sure?  Deleting a player record only deletes the database row for that player.  If they log in again, a new row will then be created.')
