.row
  .col-sm-3
    %h3
      = pluralize(@players.count, 'Player')
      - if @origin
        - if @origin.class == Array
          from
          = pluralize(@origin.size, 'origin')
          = @origin.join(', ')
        - else
          from origin
          = @origin
      - if @cc
        in
        - if @cc.class == Array
          - @cc.each do |cc|
            = image_tag "flag/16/#{cc.downcase}.png" if flag_exists(cc)
            = cc
        - else
          = image_tag "flag/16/#{@cc.downcase}.png" if flag_exists(@cc)
          = @cc
  .col-sm-9
    %suggestion{module: 'admin', group: 'players', key: 'main', verbose: 'false'}

%div{style: 'float: right'}
  = form_tag url_for(action: controller.action_name), method: :get do
    = hidden_field_tag :sort_field, @sort_field
    = hidden_field_tag :sort_order, @sort_order
    = hidden_field_tag :filter, @filter
    = hidden_field_tag :player_id, @player_id
    = text_field_tag :query, @query, placeholder: 'Query Text'
    = submit_tag 'Search', class: 'btn btn-info btn-sm'

%ul.nav.nav-tabs
  %li.nav-item{class: @filter == 'all' ? 'active' : ''}
    = link_to 'All', admin_players_path(player_id: @player_id), 'aria-controls' => "all"
  %li.nav-item{class: @filter == 'only_registered' ? 'active' : ''}
    = link_to 'Registered', admin_players_path(player_id: @player_id, filter: 'only_registered'), 'aria-controls' => "non-system"
  %li.nav-item{class: @filter == 'only_new' ? 'active' : ''}
    = link_to 'New', admin_players_path(player_id: @player_id, filter: 'only_new'), 'aria-controls' => "non-system"
  %li.nav-item{class: @filter == 'only_today' ? 'active' : ''}
    = link_to 'Today', admin_players_path(player_id: @player_id, filter: 'only_today'), 'aria-controls' => "non-system"
  %li.nav-item{class: @filter == 'only_logged_in' ? 'active' : ''}
    = link_to 'Logged In', admin_players_path(player_id: @player_id, filter: 'only_logged_in'), 'aria-controls' => "non-system"

.tab-contents
  .tab-panel.tab-pane.active
    .row.table-responsive
      %table.table
        %thead
          %tr
            %th
            %th=sortable_header_link 'Nick', 'lower(nick)'
            %th=sortable_header_link 'Last Nick', 'lower(last_nick)'
            %th=sortable_header_link 'Spam Ratio', 'spam_ratio'
            %th=sortable_header_link 'Links', 'links_count'
            %th=sortable_header_link 'Messages', 'messages_count'
            %th=sortable_header_link 'Wins', 'pvp_wins_count'
            %th=sortable_header_link 'Losses', 'pvp_losses_count'
            %th=sortable_header_link 'Logged In', 'last_login_at'
            %th=sortable_header_link 'Biomes Explored', 'biomes_explored'
            %th=sortable_header_link 'Latest Country', 'last_ip_cc'
            %th=sortable_header_link 'Created', 'created_at'
            %th
        %tbody
          = render partial: 'player_row', collection: @players, as: :player

%p= will_paginate @players