= content_for :head, auto_discovery_link_tag(:atom, "http://#{pvps_url(format: :atom).split('://')[1]}")

.row
  %h3
    PVPs (#{@pvps.count})
    %button.btn.btn-info.badge{type: :button, data: { toggle: :modal, target: '#explain_pvps'}} ?
  .modal.fade#explain_pvps{tabindex: -1, role: :dialog, 'aria-labelledby' => 'explain_messages_label', 'aria-hidden' => true}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
            %span{'aria-hidden' => true} &times;
          %h4.modal-title#explain_pvps_label Explanation of PVPs
        .modal-body
          %p
            To see pvps in-game ...
          %p
            %code= help_docs('lastpvp')

.row
  %table.table
    %thead
      %tr
        %th PVP
        %th Loser
        %th Winner
        %th Created
    %tbody
    %tr
      - @pvps.each do |pvp|
        %tr
          %td= pvp.body
          %td
            %a.tip{data: { title: pvp.recipient.last_chat }}= image_tag player_images_path(id: pvp.recipient.nick, size: 16, format: 'png'), width: 16, height: 16, alt: pvp.recipient.nick
            = pvp.recipient.nick
          %td
            %a.tip{data: { title: pvp.author.last_chat }}= image_tag player_images_path(id: pvp.author.nick, size: 16, format: 'png'), width: 16, height: 16, alt: pvp.author.nick
            = pvp.author.nick
          %td{title: pvp.created_at}
            = distance_of_time_in_words_to_now pvp.created_at
            ago

%p= will_paginate @pvps
