= content_for :head, auto_discovery_link_tag(:atom, "http://#{pvps_url(format: :atom).split('://')[1]}")

.row
  %h3
    PVPs (#{@pvps.count})

.row
  %table.table
    %thead
      %tr
        %th PVP
        %th Loser
        %th Winner
        %th Created
    %tbody
    %tr
      - @pvps.each do |pvp|
        %tr
          %td= pvp.body
          %td
            %a.tip{data: { title: pvp.recipient.last_chat }}= image_tag "https://minotar.net/avatar/#{pvp.recipient.nick}/16.png", width: 16, height: 16, alt: pvp.recipient.nick
            = pvp.recipient.nick
          %td
            %a.tip{data: { title: pvp.author.last_chat }}= image_tag "https://minotar.net/avatar/#{pvp.author.nick}/16.png", width: 16, height: 16, alt: pvp.author.nick
            = pvp.author.nick
          %td{title: pvp.created_at}
            = distance_of_time_in_words_to_now pvp.created_at
            ago

%p= will_paginate @pvps
