= content_for :head, auto_discovery_link_tag(:atom, "http://#{topics_url(format: :atom).split('://')[1]}")

.row
  %h3
    Topics
    %button.btn.btn-info.badge{type: :button, data: { toggle: :modal, target: '#explain_topics'}} ?
  .modal.fade#explain_topics{tabindex: -1, role: :dialog, 'aria-labelledby' => 'explain_messages_label', 'aria-hidden' => true}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
            %span{'aria-hidden' => true} &times;
          %h4.modal-title#explain_topics_label Explanation of Topics
        .modal-body
          %p
            To see current topic in-game ...
          %p
            %code= help_docs('topic')

.row
  %table.table
    %thead
      %tr
        %th Topic
        %th By
        %th Created
    %tbody
      - if @topic
        = render partial: 'topic', object: @topic
    %tr
      %th{colspan: 4} Past Topics (#{@past_topics.count})
      = render partial: 'topic', collection: @past_topics
