= content_for :head, auto_discovery_link_tag(:atom, "http://#{topics_url(format: :atom).split('://')[1]}")

.row
  %h3
    Topics
    %button.btn.btn-info.badge{type: :button, data: { toggle: :modal, target: '#explain_topics'}} ?
  .modal.fade#explain_topics{tabindex: -1, role: :dialog, 'aria-labelledby' => 'explain_messages_label', 'aria-hidden' => true}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
            %span{'aria-hidden' => true} &times;
          %h4.modal-title#explain_topics_label Explanation of Topics
        .modal-body
          %p
            To see current topic in-game ...
          %p
            %code= help_docs('topic')

.row
  %table.table
    %thead
      %tr
        %th Topic
        %th By
        %th Created
    %tbody
      - if @topic
        %tr
          %td
            %b Current Topic: 
            = @topic.body
          %td
            - if !!@topic.author
              %a.tip{data: { title: @topic.author.last_chat }}= image_tag player_images_path(id: @topic.author.nick, size: 16, format: 'png'), width: 16, height: 16, alt: @topic.author.nick
              = @topic.author.nick
          %td{title: @topic.created_at}
            = distance_of_time_in_words_to_now @topic.created_at
            ago
    %tr
      %th{colspan: 4} Past Topics (#{@past_topics.count})
      - @past_topics.each do |topic|
        %tr
          %td= topic.body
          %td
            - if !!topic.author
              %a.tip{data: { title: topic.author.last_chat }}= image_tag player_images_path(id: topic.author.nick, size: 16, format: 'png'), width: 16, height: 16, alt: topic.author.nick
              = topic.author.nick
          %td{title: topic.created_at}
            = distance_of_time_in_words_to_now topic.created_at
            ago
