.row
  %h3
    Topics

.row
  %table.table
    %thead
      %tr
        %th Topic
        %th By
        %th Created
    %tbody
      - if @topic
        %tr
          %td
            %b Current Topic: 
            = @topic.body
          %td= @topic.author.nick if !!@topic.author
          %td{title: @topic.created_at}
            = distance_of_time_in_words_to_now @topic.created_at
            ago
    %tr
      %th{colspan: 4} Past Topics (#{@past_topics.count})
      - @past_topics.each do |topic|
        %tr
          %td= topic.body
          %td= @topic.author.nick if !!@topic.author
          %td{title: topic.created_at}
            = distance_of_time_in_words_to_now topic.created_at
            ago
