= content_for :head, auto_discovery_link_tag(:atom, "http://#{topics_url(format: :atom).split('://')[1]}")

.row
  .col-sm-2
    %h3 Topics
  .col-sm-10
    %suggestion{group: 'topics', key: 'main'}

.row
  %table.table
    %thead
      %tr
        %th Topic
        %th By
        %th Created
    %tbody
      - if @topic
        = render partial: 'topic', object: @topic
    %tr
      %th{colspan: 4} Past Topics (#{@past_topics.count})
      = render partial: 'topic', collection: @past_topics
