- if link.can_embed?
  %iframe{src: link.embedded_url, width: '100%', height: 480}
    %noframes
      = link_to link.title, link.url, target: link.to_param
- else
  = link_to link.title, link.url, target: link.to_param
    
.modal-footer
  .pull-xs-left
    - if defined? modal
      = link_remote_delete(admin_link_path(link))
    - else
      = link_delete(admin_link_path(link))
  .pull-xs-right
    - if defined? modal
      = modal_nav_links(admin_links_path, "link")
      %button.btn.btn-default{type: "button", data: { dismiss: :modal } } Close
    - else
      = link_to 'Close', admin_links_path, class: 'btn btn-default'
