= content_for :head, auto_discovery_link_tag(:atom, "http://admin:#{Preference.web_admin_password}@#{admin_links_url(format: :atom).split('://')[1]}")

.row
  .col-sm-3
    %h3
      Links
      - if @player
        by
        = link_to @player.nick, admin_player_path(@player)
  .col-sm-9
    %suggestion{module: 'admin', group: 'links', key: 'main', verbose: 'false'}

%div{style: 'float: right'}
  = form_tag url_for(action: controller.action_name), method: :get do
    = hidden_field_tag :sort_field, @sort_field
    = hidden_field_tag :sort_order, @sort_order
    = hidden_field_tag :filter, @filter
    = hidden_field_tag :player_id, @player_id if @player_id.present?
    = text_field_tag :query, @query, placeholder: 'Query Text'
    = submit_tag 'Search', class: 'btn btn-info btn-xs'

%ul.nav.nav-tabs
  %li{class: @filter == 'all' ? 'active' : ''}
    = link_to 'All', admin_links_path(player_id: @player_id), 'aria-controls' => "all"
  %li{class: @filter == 'only_today' ? 'active' : ''}
    = link_to 'Today', admin_links_path(player_id: @player_id, filter: 'only_today'), 'aria-controls' => "non-system"

.tab-contents
  .tab-panel.tab-pane.active
    .row.table-responsive
      %table.table
        %thead
          %tr
            %th=sortable_header_link 'Title', 'lower(title)'
            - unless @player_id.present?
              %th=sortable_header_link 'Linked By', 'link_linked_by'
            %th=sortable_header_link 'Created', 'created_at'
            %th
        %tbody
          = render partial: 'link_row', collection: @links, as: :link

%p= will_paginate @links