= content_for :head, auto_discovery_link_tag(:atom, "http://#{donations_url(format: :atom).split('://')[1]}")

.row
  .col-sm-3
    %h3 Donations (#{@donations.count})
  .col-sm-9
    %suggestion{group: 'donations', key: 'main', verbose: 'false'}

.row
  %table.table
    %thead
      %tr
        %th Donation
        %th Donor
        %th Created
    %tbody
    %tr= render partial: 'donation', collection: @donations

%p= will_paginate @donations
