= content_for :head, auto_discovery_link_tag(:atom, "http://#{donations_url(format: :atom).split('://')[1]}")

.row
  %h3
    Donations (#{@donations.count})
    %button.btn.btn-info.badge{type: :button, data: { toggle: :modal, target: '#explain_donations'}} ?
  .modal.fade#explain_donations{tabindex: -1, role: :dialog, 'aria-labelledby' => 'explain_messages_label', 'aria-hidden' => true}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
            %span{'aria-hidden' => true} &times;
          %h4.modal-title#explain_donations_label Explanation of Donations
        .modal-body
          %p
            To see donations in-game ...
          %p
            %code= help_docs('donations')

.row
  %table.table
    %thead
      %tr
        %th Donation
        %th Donor
        %th Created
    %tbody
    %tr
      - @donations.each do |donation|
        %tr
          %td= donation.body
          %td
            - if !!donation.author
              %a.tip{data: { title: donation.author.last_chat }}= image_tag "https://minotar.net/avatar/#{donation.author.nick}/16.png", width: 16, height: 16, alt: donation.author.nick
              = donation.author.nick
          %td{title: donation.created_at}
            = distance_of_time_in_words_to_now donation.created_at
            ago

%p= will_paginate @donations
