%table.table
  %tr
    %th Name
    %td=callback.name
      
  %tr
    %th Pattern
    %td
      - if !!callback.pretty_pattern
        ~ callback.pretty_pattern.html_safe
      - else
        %pre{style: 'overflow: auto; white-space: pre-wrap;'}>~ callback.pattern
  %tr
    %th{nowrap: :nowrap} Type
    %td=callback.display_type
  %tr
    %th Command
    %td
      .media
        .media-body
          - if !!callback.pretty_command
            ~ callback.pretty_command.html_safe
          - else
            %pre{style: 'overflow: auto; white-space: pre-wrap;'}>~ callback.command
        .media-right= callback_run_link(callback, class: 'btn btn-success btn-xs')
  %tr
    %th Cooldown
    %td=callback.cooldown
  %tr
    %th Ran
    %td
      .media
        .media-body{id: "callback_ran_at_#{callback.id}"}
          =callback_ran(callback)
        .media-right
          = callback_reset_link(callback, class: 'btn btn-warning btn-xs')
  %tr
    %th Status
    %td{id: "callback_status_#{callback.id}"}=callback_status(callback)
  %tr
    %th{nowrap: :nowrap} Last Match
    %td= callback_last_match(callback)
  %tr
    %th{nowrap: :nowrap} Last Command Output
    %td
      %code{id: "callback_last_command_output_#{callback.id}"}= callback.last_command_output

.modal-footer
  %span{style: 'float: left;'}
    = callback_edit_link(callback)
    = callback_enable_link(callback)
    = callback_delete_link(callback)
    = callback_gist_link(callback)
  %span{style: 'float: right;'}
    - if defined? modal
      = modal_nav_links(admin_server_callbacks_path, "callback")
      %button.btn.btn-default{type: "button", data: { dismiss: :modal } } Close
    - else
      = link_to 'Close', admin_server_callbacks_path, class: 'btn btn-default'
  