%tr
  %td{align: :right}
    %a.tip{id: "player_nick_#{player.nick}", data: { title: player.last_chat, 'last-chat-at' => player.updated_at.to_i }}
      = image_tag player_images_path(id: player.nick, size: 16, format: 'png'), width: 16, height: 16, alt: player.nick
  %td= player.nick
  -if !!player
    %td{title: player.last_login_at}
      - if player.last_login_at
        = distance_of_time_in_words_to_now player.last_login_at
        ago
    %td= player.biomes_explored
    %td= player.pvp_wins_count
    %td= player.pvp_losses_count
