.row
  %h3
    Players connected: 
    = ServerQuery.numplayers
    of
    = ServerQuery.maxplayers

.row
  %table.table
    %thead
      %tr
        %th
        %th Player
        %th Logged in
        %th Biomes Explored
        %th PVP Wins
        %th PVP Losses
    %tbody
      = render partial: 'player', collection: @players
    %tr
      %th{colspan: 4} Logged in Today (#{@players_today.except(:select).count})
      = render partial: 'player', collection: @players_today
#last_activity{data: {'last-activity-at' => @activity || @players.map(&:last_activity_at).map(&:to_i).max || Time.now.to_i}}
