= form_for [:admin, @preference] do |f|
  - if @preference.errors.any?
    .alert.alert-danger
      %h4 #{pluralize(@preference.errors.count, "error")} prohibited this template from being saved:
      %ul
      - @preference.errors.full_messages.each do |msg|
        %li= msg

  .row
    %h3
      Editing
      = @preference.key.titleize
    .input-group
      = f.label :value
      %br
      - if @preference.key =~ /_json$/
        Please note, this preference allows multiple JSON segments where each line is treated separately.
        = f.text_area :value, cols: 80, rows: 15
      - elsif @preference.key == Preference::COMMAND_SCHEME
        = f.select :value, %w(rcon multiplexor)
      - elsif [Preference::IRC_ENABLED, Preference::IRC_WEB_CHAT_ENABLED].include? @preference.key
        = f.label :value do
          = f.check_box :value
          = @preference.key
      -else
        = f.text_field :value, size: 80
    .input-group
      = f.submit class: 'btn btn-primary'
    .input-group
      = link_to 'Back', admin_preferences_path, class: 'btn btn-info btn-xs'
