.row
  .col-sm-3
    %h3
      %span.glyphicon.glyphicon-list-alt
      IPs
      - if @player
        by
        = link_to @player.nick, admin_player_path(@player)
      - if @origin
        - if @origin.class == Array
          from
          = pluralize(@origin.size, 'origin')
          = @origin.join(', ')
        - else
          from origin
          = @origin
      - if @cc
        in
        - if @cc.class == Array
          - @cc.each do |cc|
            = image_tag "flag/16/#{cc.downcase}.png" if flag_exists(cc)
            = cc
        - else
          = image_tag "flag/16/#{@cc.downcase}.png" if flag_exists(@cc)
          = @cc
  .col-sm-9
    %suggestion{module: 'admin', group: 'ips', key: 'main', verbose: 'false'}

.pull-xs-right
  = form_tag url_for(action: controller.action_name), method: :get do
    = hidden_field_tag :sort_field, @sort_field
    = hidden_field_tag :sort_order, @sort_order
    = hidden_field_tag :filter, @filter
    = hidden_field_tag :player_id, @player_id
    = text_field_tag :query, @query, placeholder: 'Query Text'
    = submit_tag 'Search', class: 'btn btn-info btn-xs'

%ul.nav.nav-tabs
  %li.nav-item
    = link_to 'All', admin_ips_path(player_id: @player_id), 'aria-controls' => "all", class: @filter == 'all' ? 'nav-link active' : 'nav-link'
  %li.nav-item
    = link_to 'Today', admin_ips_path(player_id: @player_id, filter: 'only_today'), 'aria-controls' => "non-system", class: @filter == 'only_today' ? 'nav-link active' : 'nav-link'

.tab-contents
  .tab-panel.tab-pane.active
    .row.table-responsive
      %table.table
        %thead
          %tr
            %th=sortable_header_link 'Address', 'address'
            %th=sortable_header_link 'Origin', 'origin'
            - unless @player_id
              %th=sortable_header_link 'Used By', 'players_nick'
            - unless @cc
              %th=sortable_header_link 'Country Code', 'cc'
            %th=sortable_header_link 'Created', 'created_at'
        %tbody
          - @ips.each do |ip|
            = render 'ip_row', ip: ip

%p= will_paginate @ips