.row
  .col-sm-3
    %h3
      Donations
      - if @author
        by
        = link_to @author.nick, admin_player_path(@author)
  .col-sm-9
    %suggestion{module: 'admin', group: 'donations', key: 'main', verbose: 'false'}

%div{style: 'float: right'}
  = form_tag url_for(action: controller.action_name), method: :get do
    = hidden_field_tag :sort_field, @sort_field
    = hidden_field_tag :sort_order, @sort_order
    = hidden_field_tag :filter, @filter
    = hidden_field_tag :author_id, @author_id if @author_id.present?
    = text_field_tag :query, @query, placeholder: 'Query Text'
    = submit_tag 'Search', class: 'btn btn-info btn-sm'

%ul.nav.nav-tabs
  %li.nav-item
    = link_to 'All', admin_message_donations_path(author_id: @author_id), 'aria-controls' => "all", class: @filter == 'all' ? 'nav-link active' : 'nav-link'
  %li.nav-item
    = link_to 'Today', admin_message_donations_path(author_id: @author_id, filter: 'only_today'), 'aria-controls' => "non-system", class: @filter == 'only_today' ? 'nav-link active' : 'nav-link'

.tab-contents
  .tab-panel.tab-pane.active
    .row.table-responsive
      %table.table
        %thead
          %tr
            - unless @author_id.present?
              %th=sortable_header_link 'Donor', 'donation_author_nick'
            %th=sortable_header_link 'Body', 'lower(body)'
            %th=sortable_header_link 'Created', 'created_at'
            %th
        %tbody
          = render partial: 'donation_row', collection: @donations, as: :donation

= link_to 'New', new_admin_message_donation_path, class: 'btn btn-success'

%p= will_paginate @donations