!!!
%html
  %head
    %title CobbleBot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: :viewport, content: "width=380, initial-scale=0.75, minimum-scale=0.75"}
    - if !!Server.server_icon
      %link{rel: "shortcut icon", type: "image/x-icon", href: "#{server_icon_path}"}
    = yield :head 
%body{role: :document}

  %nav.navbar.navbar-dark.navbar-full.bg-inverse
    %button.navbar-toggler.hidden-sm-up.pull-right{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#cobblebot-navbar', 'aria-expanded' => "false"}
      &#9776;
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} CobbleBot
    
    .collapse.navbar-toggleable-xs#cobblebot-navbar
      %ul.nav.navbar-nav
        %li.nav-item= link_to 'Players', players_path, class: active_nav('players')
        %li.nav-item= link_to 'Topics', topics_path, class: active_nav('topics')
        %li.nav-item= link_to 'PVP', pvps_path, class: active_nav('pvps')
        %li.nav-item= link_to 'Donations', donations_path, class: active_nav('donations')
        %li.nav-item= link_to 'Server Status', status_index_path, class: active_nav('status')
        - if show_irc_web_chat?
          %li.nav-item
            = link_to 'IRC' + ((c = Preference.active_in_irc.to_i) > 0 ? " (#{c})" : ''), Preference.irc_web_chat_url, target: 'irc', id: 'irc-link', class: active_nav('irc_web_chat')
        %li.nav-item.dropdown.active
          = link_to '#', class: "dropdown-toggle #{active_nav('admin')}", data: { toggle: :dropdown }, role: :button do
            Admin
            %span.caret
          %ul.nav.navbar-nav.dropdown-menu.bg-inverse
            - if admin_signed_in?
              %li.nav-item.col-sm-12
                = link_to 'Preferences', admin_preferences_path, class: active_nav('admin_preferences')
              %li.nav-item.col-sm-12
                = link_to 'Players', admin_players_path, class: active_nav('admin_players')
              %li.nav-item.col-sm-12
                = link_to 'Donations', admin_message_donations_path, class: active_nav('admin_message_donations')
              %li.nav-item.col-sm-12
                = link_to 'Callbacks', admin_server_callbacks_path, class: active_nav('admin_callbacks')
              %li.nav-item.col-sm-12
                = link_to 'Links', admin_links_path, class: active_nav('admin_links')
              %li.nav-item.col-sm-12
                = link_to 'Messages', admin_messages_path, class: active_nav('admin_messages')
              %li.nav-item.col-sm-12
                = link_to 'IPs', admin_ips_path, class: active_nav('admin_ips')
              %li.nav-item.col-sm-12
                = link_to 'Server Properties', admin_config_server_properties_path, class: active_nav('admin_config_server_properties')
              - if Rails.env == 'development'
                %li.nav-item.col-sm-12
                  = link_to 'Console', admin_config_console_path, data: { remote: true }, class: active_nav('admin_config_console')
              %li.nav-item.col-sm-12
                = link_to 'Resque', "http://admin:#{Preference.web_admin_password}@#{admin_resque_server_url.split('://')[1]}", target: '_new', class: 'nav-link'
              %li.nav-item.col-sm-12
                = link_to 'Admin Log Out', admin_destroy_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link'
            - else
              %li.nav-item.col-sm-12
                = link_to 'Log In', new_admin_session_path, class: 'nav-link'
      %ul.nav.navbar-nav.navbar-right.pull-right
        %li.nav-item.nav-item
          %a.nav-link{href: '#', class: 'nav-link'}= image_tag server_icon_path, width: 24, height: 24, data: { toggle: :modal, target: '#expand_server_icon' } if !!Server.server_icon
        %li.nav-item.nav-item
          %a.nav-link{href: '#', class: 'nav-link'}= ServerProperties.level_name.titleize

.modal.fade#expand_server_icon{tabindex: -1, role: :dialog, 'aria-labelledby' => 'expand_server_icon_label', 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
          %span{'aria-hidden' => true} &times;
        %h4.modal-title#expand_server_icon_label server-icon.png
      .modal-body
        %center= image_tag server_icon_path, width: 256, height: 256 if !!Server.server_icon

.container.theme-showcase{role: :main}
  .row
    .starter-template.col-sm-12

      - flash.each do |type, msg|
        - case type
          - when 'notice'
            .alert.alert-success{role: :alert}
              %strong= msg
          - when 'info'
            .alert.alert-info{role: :alert}
              %strong= msg
          - when 'alert'
            .alert.alert-warning{role: :alert}
              %strong= msg
          - when 'error'
            .alert.alert-danger{role: :alert}
              %strong= msg
          - else
            .alert.alert-info{role: :alert, data: {'flash-type' => type}}
              %strong= msg
              
    .row.col-sm-12= yield
    .row
      .col-sm-9
      .col-sm-3
        .card.text-center
          .card-header.version
            %small
              %samp= version
    .row.col-sm-12= yield :footer
