!!!
%html
  %head
    %title CobbleBot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: :viewport, content: "width=380, initial-scale=0.75, minimum-scale=0.75"}
    - if !!Server.server_icon
      %link{rel: "shortcut icon", type: "image/x-icon", href: "#{server_icon_path}"}
    = yield :head 
%body{role: :document}

.navbar.navbar-inverse.navbar-static-top
  .container

    .navbar-header
      %ul.nav.navbar-nav
        %li{class: active_nav('players')}= link_to 'Players', players_path
        %li{class: active_nav('topics')}= link_to 'Topics', topics_path
        %li{class: active_nav('pvps')}= link_to 'PVP', pvps_path
        %li{class: active_nav('donations')}= link_to 'Donations', donations_path
        %li{class: active_nav('status')}= link_to 'Server Status', status_index_path
        - if Preference.irc_enabled? && Preference.irc_web_chat_enabled?
          %li{class: active_nav('irc_web_chat')}
            = link_to 'IRC' + ((c = Preference.active_in_irc.to_i) > 0 ? " (#{c})" : ''), Preference.irc_web_chat_url, target: 'irc', id: 'irc-link'
        %li.dropdown{class: active_nav('admin')}
          = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown }, role: :button do
            Admin
            %span.caret
          %ul.dropdown-menu
            - if admin_signed_in?
              %li{class: active_nav('admin_preferences')}
                = link_to 'Preferences', admin_preferences_path
              %li{class: active_nav('admin_players')}
                = link_to 'Players', admin_players_path
              %li{class: active_nav('admin_message_donations')}
                = link_to 'Donations', admin_message_donations_path
              %li{class: active_nav('admin_callbacks')}
                = link_to 'Callbacks', admin_server_callbacks_path
              %li{class: active_nav('admin_links')}
                = link_to 'Links', admin_links_path
              %li{class: active_nav('admin_messages')}
                = link_to 'Messages', admin_messages_path
              %li{class: active_nav('admin_ips')}
                = link_to 'IPs', admin_ips_path
              %li{class: active_nav('admin_config_server_properties')}
                = link_to 'Server Properties', admin_config_server_properties_path
              - if Rails.env == 'development'
                %li{class: active_nav('admin_config_console')}
                  = link_to 'Console', admin_config_console_path, data: { remote: true }
              %li
                = link_to 'Resque', "http://admin:#{Preference.web_admin_password}@#{admin_resque_server_url.split('://')[1]}", target: '_new'
              %li
                = link_to 'Admin Log Out', admin_destroy_session_path, method: :delete, data: { confirm: 'Are you sure?' }
            - else
              %li
                = link_to 'Log In', new_admin_session_path
    .navbar-brand{style: 'float: right;'}
      %span= image_tag server_icon_path, width: 24, height: 24, data: { toggle: :modal, target: '#expand_server_icon'} if !!Server.server_icon
      %span= ServerProperties.level_name.titleize

.modal.fade#expand_server_icon{tabindex: -1, role: :dialog, 'aria-labelledby' => 'expand_server_icon_label', 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: :button, 'aria-label' => 'Close', data: { dismiss: :modal }}
          %span{'aria-hidden' => true} &times;
        %h4.modal-title#expand_server_icon_label server-icon.png
      .modal-body
        %center= image_tag server_icon_path, width: 256, height: 256 if !!Server.server_icon

.container.theme-showcase{role: :main}
  .starter-template

    - flash.each do |type, msg|
      - case type
        - when 'notice'
          .alert.alert-success{role: :alert}
            %strong= msg
        - when 'info'
          .alert.alert-info{role: :alert}
            %strong= msg
        - when 'alert'
          .alert.alert-warning{role: :alert}
            %strong= msg
        - when 'error'
          .alert.alert-danger{role: :alert}
            %strong= msg
        - else
          .alert.alert-info{role: :alert, data: {'flash-type' => type}}
            %strong= msg

    = yield

    = version

    = yield :footer
