!!!
%html
  %head
    %title CobbleBot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: :viewport, content: "width=380, initial-scale=0.4, minimum-scale=0.4"}

%body{role: :document}

.navbar.navbar-inverse.navbar-static-top
  .container

    .navbar-header
      %ul.nav.navbar-nav
        %li{class: active_nav('players')}= link_to 'Players', players_path
        %li{class: active_nav('status')}= link_to 'Server Status', status_index_path
        %li.dropdown{class: active_nav('admin')}
          = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown }, role: :button do
            Admin
            %span.caret
          %ul.dropdown-menu
            - if admin_signed_in?
              %li{class: active_nav('admin_preferences')}
                = link_to 'Preferences', admin_preferences_path
              %li{class: active_nav('admin_callbacks')}
                = link_to 'Callbacks', admin_server_callbacks_path
              %li{class: active_nav('admin_config_server_properties')}
                = link_to 'Server Properties', admin_config_server_properties_path
              - if Rails.env == 'development'
                %li{class: active_nav('admin_config_console')}
                  = link_to 'Console', admin_config_console_path, data: { remote: true }
              %li
                = link_to 'Resque', "http://admin:#{Preference.web_admin_password}@#{admin_resque_server_url.split('://')[1]}", target: '_new'
              %li
                = link_to 'Admin Log Out', admin_destroy_session_path, method: :delete, data: { confirm: 'Are you sure?' }
            - else
              %li
                = link_to 'Log In', new_admin_session_path
    .navbar-brand{style: 'float: right;'}= ServerProperties.level_name.titleize

.container.theme-showcase{role: :main}
  .starter-template

    - flash.each do |type, msg|
      - case type
        - when 'notice'
          .alert.alert-success{role: :alert}
            %strong= msg
        - when 'info'
          .alert.alert-info{role: :alert}
            %strong= msg
        - when 'alert'
          .alert.alert-warning{role: :alert}
            %strong= msg
        - when 'error'
          .alert.alert-danger{role: :alert}
            %strong= msg
        - else
          .alert.alert-info{role: :alert, data: {'flash-type' => type}}
            %strong= msg

    = yield

    = version

    = yield :footer
